@layer components {
    .App {
        min-height: 100vh;
        background: linear-gradient(to bottom right, rgb(248 250 252), rgb(241 245 249));
    }
    
    @media (prefers-color-scheme: dark) {
        .App {
            background: linear-gradient(to bottom right, black, rgb(17 24 39));
        }
    }
}